extends ./layout/index

block contenido
    main.container.mt-5 
        .row
            .col-md-5
                img(src="img/nosotros.jpg", alt="imagen sobre nosotros", class="img-fluid")
            .col-md-7
                h1 #{pagina}
                blockquote  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam non lectus dui. Donec fermentum elementum purus id dapibus. Integer iaculis sodales ante, nec feugiat purus varius eu. Curabitur eu mi gravida, ullamcorper metus eleifend, suscipit lectus. Integer lectus purus, aliquam eget metus id, porta varius lacus.

                p Nulla ex lectus, efficitur nec ipsum ac, mollis interdum magna. Mauris feugiat elementum consequat. Maecenas nec dolor libero. Nulla sed orci eget lectus sodales auctor. Morbi ac nibh sed metus euismod mollis eu non tellus.

                p Donec lacus augue, dapibus ut vestibulum at, consectetur quis metus. Maecenas volutpat velit orci, eu tempus est scelerisque vitae. Donec euismod nisi lobortis lorem porta egestas. Suspendisse eget tempus elit. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.

    .listado-iconos
        .container.mt-5.py-5.text-center
            .row
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="icono seguridad", class="img-fluid mb-4")
                    h2.mb-4 Seguridad
                    p Nulla ex lectus, efficitur nec ipsum ac, mollis interdum magna. Mauris feugiat elementum consequat. Maecenas nec dolor libero. Nulla sed orci eget lectus sodales auctor. Morbi ac nibh sed metus euismod mollis eu non tellus. Vestibulum imperdiet rhoncus turpis. Integer mauris mi, consequat eu dolor ac.

                .col-md-4
                    img(src="img/icono_destinos.svg", alt="icono destinos", class="img-fluid mb-4")
                    h2.mb-4 Mejores Destinos
                    p Nulla ex lectus, efficitur nec ipsum ac, mollis interdum magna. Mauris feugiat elementum consequat. Maecenas nec dolor libero. Nulla sed orci eget lectus sodales auctor. Morbi ac nibh sed metus euismod mollis eu non tellus. Vestibulum imperdiet rhoncus turpis. Integer mauris mi, consequat eu dolor ac.

                .col-md-4
                    img(src="img/icono_precios.svg", alt="icono precios", class="img-fluid mb-4")
                    h2.mb-4 Precios
                    p Nulla ex lectus, efficitur nec ipsum ac, mollis interdum magna. Mauris feugiat elementum consequat. Maecenas nec dolor libero. Nulla sed orci eget lectus sodales auctor. Morbi ac nibh sed metus euismod mollis eu non tellus. Vestibulum imperdiet rhoncus turpis. Integer mauris mi, consequat eu dolor ac.